/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Great Vibes", cursive;
  --title-font: "Nanum Brush Script", cursive;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 20px;
  position: relative;
  overflow-x: hidden;
}

/* page1 */
.page1 .container {
  background: linear-gradient(90deg, #3f3f3f 20%, #1d1b1c);
  overflow: hidden;
}

.page1 h1 {
  font-family: var(--main-font);
  font-size: 70px;
  font-weight: 700;
  margin-top: 80px;
  text-align: center;
  background-image: linear-gradient(97deg, #f7efbd 30%, #cfae6b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* line-height: 2.7em; */
}

.page1 .main-bg {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  object-fit: cover;
}

/* page2 */
.page2 .container {
  background: linear-gradient(90deg, #3f3f3f 20%, #1d1b1c);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #dfd2b1;
}

.page2 h2 {
  font-family: var(--title-font);
  font-size: 32px;
  font-weight: 700;
}

.page2 .sliders {
  width: 335px;
  max-width: 400px;
  height: 220px;
  background: #ccc;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.page2 .sliders .slider-wrap {
  width: 1005px;
  height: 100%;
  display: flex;
  transition: 0.5s;
  transform: translateX(0);
}

.page2 .sliders .slider-wrap.trans335 {
  transform: translateX(-335px);
}
.page2 .sliders .slider-wrap.trans670 {
  transform: translateX(-670px);
}

.page2 .sliders .slider {
  width: 100%;
  height: 100%;
}

.page2 .sliders .slider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page2 .sliders .slider-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.page2 .sliders .slider-btn:hover {
  background: rgba(255, 255, 255, 0.8);
}

.page2 .sliders .btn-prev {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.page2 .sliders .btn-next {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.page2 .slider-pagination {
  display: flex;
  margin-top: 10px;
  gap: 20px;
  justify-content: center;
}

.page2 .slider-pagination .btn-img {
  width: 7px;
  height: 7px;
  background: rgba(255, 255, 255, 0.5);
}

.page2 .slider-pagination .btn-img:hover {
  background: rgba(255, 255, 255, 0.8);
}

.page2 .slider-pagination .btn-img.show {
  background: rgba(255, 255, 255, 0.8);
}

.page2 p {
  line-height: 1.8em;
}

.page2 p .ft-bold {
  font-size: 18px;
  font-weight: bold;
}

/* page3 */
.page3 .container {
  background: linear-gradient(rgba(45, 45, 21, 0.2), rgba(255, 255, 255, 0));
  position: relative;
}

.page3 h2 {
  font-family: var(--title-font);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.page3 .greeting-form {
  margin-bottom: 20px;
}

.page3 #greeting {
  width: 100%;
  border: 0.5px solid #666;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
}

.page3 #greeting::placeholder {
  color: #aaa;
  font-size: 12px;
}

.page3 label {
  display: none;
}

.page3 .greeting-form .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page3 .greeting-form input {
  width: 40%;
  border: 0.5px solid #666;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
}

.page3 .greeting-form input::placeholder {
  color: #aaa;
  font-size: 12px;
}

.page3 .greeting-form button {
  padding: 5px 12px;
  font-size: 14px;
  background: #333;
  border: 0.5px solid #666;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.page3 .messages {
  list-style-type: none;
  height: calc(100vh - 300px);
  overflow-y: scroll;
}

.page3 .messages li {
  border: 0.1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px #ccc;
  background: #fcfcfc;
  position: relative;
}

.page3 .messages li .message-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page3 .messages li .message-title h4 {
  font-size: 14px;
}

.page3 .messages li .message-title .btn-box {
  font-size: 14px;
  display: flex;
  gap: 5px;
}

.page3 .messages li .message-title .btn-box .btn {
  border: 0.1px solid #aaa;
  padding: 3px 7px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  background: #aaa;
  cursor: pointer;
}

.page3 .messages li .date {
  font-size: 11px;
  color: #aaa;
}

.page3 .messages li .greeting {
  font-size: 13px;
  color: #666;
  margin-top: 10px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}

.page3 .messages li.view-all .greeting {
  height: auto;
}

/* 수정&삭제 버튼 팝업 */
.page3 .popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20px 10px;
  border: 0.1px solid #ccc;
  border-radius: 10px;
  z-index: 100;
}

.page3 .popup h5 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.page3 .popup input {
  border: 0.1px solid #666;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
}

.page3 .popup input::placeholder {
  color: #aaa;
  font-size: 12px;
}

.page3 .popup form button {
  padding: 5px 12px;
  font-size: 12px;
  background: #333;
  border: 0.5px solid #666;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.page3 .popup form .btn-close {
  padding: 5px 12px;
  font-size: 12px;
  background: #333;
  border: 0.5px solid #666;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.page3 .popup-edit form textarea {
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

.page3 .popup-edit form .info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.page3 .popup-edit form .info .input-box {
  display: flex;
  width: 65%;
  gap: 5px;
}

.page3 .popup-edit form .info .input-box input {
  width: 50%;
  padding: 5px;
  font-size: 12px;
}

.page3 .popup-delete form {
  display: flex;
  justify-content: space-between;
}

.page3 .popup form .btn-group {
  display: flex;
  gap: 5px;
}

.page3 .popup {
  display: none;
  overflow: hidden;
}
.page3 .popup.show {
  display: block;
}

.page3 .messages li.choosed {
  background: #eee;
}
